html
  head
    block title
      title BBS
    link(rel="stylesheet", href="/css/common.css")
    script(src="/jquery-3.5.1/jquery-3.5.1.min.js")
    block head-content

  body  
    block header

    block content

    block footer
