.App {
  /* text-align: center; */
  height: 100%;
}/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
.recommend::-webkit-scrollbar {
  width: 0;
}
a{
  text-decoration: none;
  /* color: inherit !important;  */
}
input{
  outline: none;
  border: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html{
  height:100%;
  /* line-height: normal !important; */
}
body{
  height: 100%;
  line-height: normal !important;
}
#root{
  height: 100%;
} 
ul{
  /* margin: 0 !important; */
}
